* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

/* 
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
*/

:root {
    /*ligth mode colors*/
    --primary-text: hsl(200, 15%, 8%); /*Very Dark blue*/ 
    --primary-input: hsl(0, 0%, 52%); /*Dark Grey*/ 
    --primary-background: hsl(0, 0%, 98%); /*Very Light Grey*/
    --primary-elements: hsl(0, 0%, 100%); /* White */
    --fz-16px: 1rem;
    --fz-14px: 0.875rem;
    --fw-300: 300;
    --fw-600: 600;
    --fw-800: 800;
    
}
html {
    font-size: 16px;
}

body {
    color: var(--primary-text);
    background-color: var(--primary-background);
    font-size: var(--fz-14px);
}
.dark-mode {
    /* Dark Mode colors */
    --primary-text: hsl(0, 0%, 100%); /*White*/ 
    --primary-background: hsl(207, 26%, 17%); /*Very Dark Blue*/
    --primary-elements: hsl(209, 23%, 22%); /* Dark Blue */
}

header,
.search-bar,
.region-tab, 
.region-list,
.country-card {
    background-color: var(--primary-elements);
    border-radius: 0.3125rem;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.material-symbols-outlined {
    font-size: 16px;
    font-weight: var(--fw-800);
}

img {
    width: 100%;
    height: 100%;
}