@import url(custom.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.hide {
    display: none;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}
.sm-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4.27%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06); 
    font-size: var(--fz-14px);
}
.sm-h1 {
    font-weight: 800;
    line-height: 1.25rem; /* 142.857% */
    font-size: var(--fz-14px);
}
.sm-mode-btn {
    background: transparent;
    appearance: none;
    border: none;
    font-size: 0.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--primary-text);
    cursor: pointer;
}
/* ------- Search section ------ */
.search-section {
    margin-block-start: 6.5rem;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    row-gap: 2.5rem;
    margin-block-end: 2rem;
}
.region-tab,
.search-bar {
    height: 3rem;
    display: flex;
    align-items: center;
}
.search-bar > span {
    padding-inline: 2rem;
    cursor: pointer;
}
.search-term {
    color: var(--primary-text);
    font-family: Nunito Sans;
    font-size: var(--fz-14px);
    line-height: 1.25rem; /* 166.667% */
    background: transparent;
    outline: none;
    border: 0;
    flex: 1;
}
input::placeholder {
    color: var(--primary-text);
    opacity: 1;
}
.search-region-wrapper {
    width: 12.5rem;
    /* position: fixed; */
}
.region-tab {
    padding-inline: 1.5rem;
    margin-block-end: 0.25rem;
    cursor: pointer;
    justify-content: space-between;
} 

.region-list {
    position: absolute;
    width: inherit;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.3rem; /* 133.333% */
}
.region-list > .continent:hover {
    background-color: #88222380;
    cursor: pointer;
}

/* -------- Countries card section ------------ */
.countries {
    display: flex;
    justify-content: center;
    row-gap: 3rem;
    column-gap: 3rem;
    flex-wrap: wrap;
    padding-block-end: 4.06rem;    
} 
.country-card {
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
    width: 16.5rem;
}
.flag-wrapper {
    height: 11rem;
    width: 100%;
    align-items: start;
}
.flag-wrapper img {
    border-top-right-radius: 0.3125rem;
    border-top-left-radius: 0.3125rem;
}
.demographic-wrapper {
    padding-block-start: 1.5rem;
    padding-inline-start: 1.5rem;
    padding-block-end: 2.88rem;
    line-height: 1.5;
}
.country-name {
    margin-bottom: 1rem;
}

/* Country Modal */
.country-modal {
    margin-top: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    /* background: yellow; */
    z-index: 10;
    overflow-y: scroll;
    font-size: var(--fz-16px);
    
}
 .close-country-modal {
    border: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin: 2.5rem 0 4rem 0;
    width: 6.5rem;
    height: 2rem;
    border-radius: 0.125rem;
    background: var(--primay-elements);
    color: var(--primary-text);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
    font-weight: var(--fw-800);
 }

.flag {
    width: 20rem;
    height: 14.3125rem;
    background: transparent;
}

.flag img {
    border-radius: 0.62538rem;
    /* background: #808080; */
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.03);
}
.left-right-details,
.details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.left-detals,
.right-details {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 2rem;
}

/* -----for medium to large screen -------*/
@media (width > 425px) {
    .md-header {
        padding-inline: 5.5555%;
    }   
    .md-h1 {
        font-size: 1.5rem;
        line-height: normal;
    }
    .md-mode-btn {
        font-size: var(--fz-16px);
    }
    
    /* --------- countries card --------- */
    .countries {
        margin-inline: 5.5555%;
    }     
}

@media (width > 768px) {
    .search-section {
        padding-inline: 5.5555%;
        margin-block-start: 8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-block-end: 3rem;
    }
    .search-bar {
        width: 28rem;
    }
    .countries {
        justify-content: space-between;
        padding-block-end: 2.81rem;
    }
    
    /* Country Modal */
    .close-country-modal {
        margin-top: 5rem;
    }
    .flag {
        width: 35rem;
        height: 25.0625rem;
    }
    .left-right-details,
    .details {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2rem;
    }
    
    

}